
@model FarmUp.Models.AnswerList
@{
    ViewData["Title"] = "Plant Medic";
    Layout = "~/Views/Shared/_SellerPageLayout.cshtml";
}
@{

}

@section Scripts
    {
    @*<script src="@Url.Content("~/scripts/jquery-1.12.4.min.js")"></script>*@
    <script src="@Url.Content("~/scripts/demos.js")"></script>
    <script src="@Url.Content("~/jqwidgets/jqxbuttons.js")"></script>
    <script src="@Url.Content("~/jqwidgets/jqxscrollbar.js")"></script>
    <script src="@Url.Content("~/jqwidgets/jqxtextarea.js")"></script>
    <script src="@Url.Content("~/jqwidgets/jqxwindow.js")"></script>

    <!-- Slick css -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/slick.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/slick-theme.css")" />

    <!-- Slick Slider js -->
    @*<script src="@Url.Content("~/assets/js/slick.js")"></script>*@
    <script src="@Url.Content("~/assets/js/slick.min.js")"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            var quotes = [];
            $('#jqxTextArea').jqxTextArea({  height: 90, width: 300, minLength: 1, source: quotes });

            $(".product-slider").slick({
                dots: false,
                slidesToShow: 3,
                centerMode: true,
                centerPadding: "50px",
                arrows: false,
                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 567,
                        settings: {
                            slidesToShow: 3, centerPadding: "25px",
                        },
                    },
                    {
                        breakpoint: 475,
                        settings: {
                            slidesToShow: 2, centerPadding: "25px",
                        },
                    },
                    {
                        breakpoint: 375,
                        settings: {
                            slidesToShow: 1,
                            centerPadding: "120px"
                        },
                    }
                ],
            });
        });


            function submitQuestion(){
                var data = $('#jqxTextArea').val();
                $.ajax({
                    url: '@Url.Action("sendQuestion", "Seller")',
                    type: 'post',
                    data: { 'Question' : data },
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        //if(response.status == 200)
                        {
                            alert("ส่งคำถามสำเร็จ");
                            location.reload();
                        }
                    }
                });
            }
    </script>
}


    <!-- Skeleton loader Start -->
    <div>
        <!-- Header Start -->
    <header class="header">
        <div class="logo-wrap">
            <a href="index.html" style="visibility:hidden"><i class="iconly-Arrow-Left-Square icli"></i></a>
            <h1 class="title-color font-md" style="visibility:hidden">รายการต้องทำ</h1>
        </div>
        <div class="avatar-wrap">
            <a href="index.html" style="visibility:hidden">
                <i class="iconly-Home icli"></i>
            </a>
        </div>
    </header>
        <!-- Header End -->
        <!-- Main Start -->
        <div class="main-wrap order-detail mb-xxl">
            <!-- Banner Start -->
            <div class="">
                <div class="banner-box">
                    <div class="media">
                        <div class="img"></div>
                        <div class="media-body">
                            <h2>การดูแลรักษา</h2>
                            <span class="font-sm title-color fw-600">&nbsp;</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item Section Start -->
        @using (Html.BeginForm("sendQuestion", "Seller", FormMethod.Post))
            {
            <div class="item-section p-0 pt-4  section-p-tb">
                <h3 class="font-theme font-md" style="color:orangered !important; margin: 10px 0;">สอบถามปัญหาต่างๆ :</h3>

                <div class="item-wrap">
                    <textarea id="jqxTextArea" name="Question"></textarea>
                </div>

                <button type="submit" class="btn-solid" value="submit" style="margin-top:10px;">ส่งคำถาม</button>

            </div>
            }
            <!-- Item Section End -->
            <!-- Tab Content Start -->
            <div class="tab-content ratio2_1" id="pills-tabContent">
                @{
                    var iC = 0;
                }
                <!-- Catagories Content Start -->
                <div class="tab-pane fade show active" id="catagories1" role="tabpanel" aria-labelledby="catagories1-tab" style="padding: 10px;">
                    <div>
                        @if (Model.AnswersModelList.Count != 0)
                        {
                            <h1 class="font-md fw-600">คำถามของคุณ</h1>
                        }
                        <!-- Product Detail Accordian Start -->
                        <div class="accordion" id="accordionExample-1">
                            @if (Model.AnswersModelList.Count != 0)
                            {
                                @foreach (var answer in Model.AnswersModelList)
                                {
                                    <!-- Accordion Satart -->
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading-@iC">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@iC" aria-expanded="false" aria-controls="collapse-@iC">
                                                @answer.ans_question
                                            </button>
                                        </h2>
                                        <div id="collapse-@iC" class="accordion-collapse collapse" aria-labelledby="heading-@iC" data-bs-parent="#accordionExample-iC">
                                            <div class="accordion-body">
                                                <p class="content-color font-xs">
                                                    คำตอบ : @answer.ans_answer
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                <!-- Accordion End -->
                                iC++;
                            }
                            }
                        </div>
                    </div>

                    <div>
                        @if (Model.AnswersModelExtraList.Count != 0)
                        {
                            <hr />
                            <h1 class="font-md fw-600">คำถามยอดฮิต</h1>
                        }
                        <!-- Product Detail Accordian Start -->
                        <div class="accordion" id="accordionExample-1">
                            @if (Model.AnswersModelExtraList.Count != 0)
                            {
                                @foreach (var answer in Model.AnswersModelExtraList)
                                {
                                    <!-- Accordion Satart -->
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading-@iC">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@iC" aria-expanded="false" aria-controls="collapse-@iC">
                                                @answer.ans_question
                                            </button>
                                        </h2>
                                        <div id="collapse-@iC" class="accordion-collapse collapse" aria-labelledby="heading-@iC" data-bs-parent="#accordionExample-iC">
                                            <div class="accordion-body">
                                                <p class="content-color font-xs">
                                                    คำตอบ : @answer.ans_answer
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                <!-- Accordion End -->
                                iC++;
                            }
                            }
                        </div>
                    </div>
                </div>
                <!-- Catagories Content End -->
            </div>
            <!-- Tab Content End -->
            
            @if (Model.AdsModelList.Count != 0)
            {
            <!-- Promotion Start -->
            <div class="product-page">
                <section class="recently-viewed">
                    <div class="top-content">
                        <div>
                            <h4 class="title-color">Promotion</h4>
                            <p class="font-xs content-color"></p>
                        </div>
                        @*<a href="shop.html" class="font-xs font-theme">ดูทั้งหมด</a>*@
                    </div>

                    <div class="product-slider">
                        
                        @foreach (var ads in Model.AdsModelList)
                        {
                            <div>
                                <div class="product-card">
                                    <div class="img-wrap">
                                        <a href="#">
                                            <img src="~/@ads.imgUrl" class="img-fluid" alt="product" />
                                        </a>
                                    </div>
                                    <div class="content-wrap">
                                        <a href="#" class="font-sm title-color" tabindex="-1">@ads.title</a>
                                        <span class="title-color font-sm plus-item">
                                            @ads.price
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </section>
            </div>
            @*<div style="width: 100%; height: 650px; margin-top: 50px;" id="mainDemoContainer">
                <div id="window">
                        <img src="/OneDurianAds/ads2.jpg"  alt="product" />
                </div>
            </div>*@
            <!-- Promotion End-->
            }
        </div>
        <!-- Main End -->
    </div>
    <!-- Skeleton loader End -->
    
    <style>
        .accordion-item{padding-left:15px;}
    </style>
