@using FarmUp.Dtos.Seller

@*@model FarmUp.Dtos.Seller.TodoListFormDto*@

@model  FarmUp.Dtos.Seller.SellerTodoListDtoList

@{
    ViewData["Title"] = "Todo List";
    Layout = "~/Views/Shared/_SellerPageLayout.cshtml";
}

<!-- Skeleton loader Start -->
<div>
    <!-- Header Start -->
    <header class="header">
        <div class="logo-wrap">
            <a href="index.html" style="visibility:hidden"><i class="iconly-Arrow-Left-Square icli"></i></a>
            <h1 class="title-color font-md" style="visibility:hidden">รายการต้องทำ</h1>
        </div>
        <div class="avatar-wrap">
            <a href="index.html" style="visibility:hidden">
                <i class="iconly-Home icli"></i>
            </a>
        </div>
    </header>
    <!-- Header End -->
    <!-- Main Start -->
        <div class="main-wrap order-detail mb-xxl">
            <!-- Banner Start -->
            <div class="section-p-b">
                <div class="banner-box">
                    <div class="media">
                        <div class="img"></div>
                        <div class="media-body">
                            <h2>กิจกรรมวันนี้ (@DateTime.Now.ToString("dd/MM/yy"))</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner End -->
            <!-- Item Section Start -->
            <div class="item-section p-0">
                <h3 class="font-theme font-md" style="display:none;">กิจกรรมวันนี้ (@DateTime.Now.ToString("dd/MM/yy")):</h3>
                @{int ic = 0;}
                <input type="file" id="browse" name="fileupload" style="display: none" onChange="handlechange();" accept="image/*" capture="camera" />
                <input type="button" value="รูปสวนอัพเดตวันนี้" id="fakeBrowse" class="btn btn-success" onclick="browseclick();" style="margin: 20px 0;display:none"/>

                @foreach(var todoList in Model.todayListDtosList)
                {
                    <div class="row itemList simple">
                        <div class="col-6" style="padding:0 10px;">
                            <input type="hidden" name="imgUrl" value="@todoList.ImageUrl" />
                            <div style="margin-top: 5px;"><h4>หัวข้อ</h4></div>
                            <div><div name="jqxComboBox" id="jqxComboBox-@ic"></div></div>
                            <div><h4>รายละเอียด</h4></div>
                            <div><textarea name="desc" maxlength="500" style="width:100%;padding: 5px;">@todoList.ActDesc</textarea></div>
                            <div>
                                <input type="button" value="บันทึก" class="btn btn-success" style="margin: 5px 0 0 0;" onclick="SaveAct(this)" />
                            </div>
                        </div>
                        <div class="col-6">
                            <image src="/@todoList.ImageUrl.Replace('\\','/')" style="width:100%"></image>
                        </div>
                    </div>
                    <hr/>
                    ic++;
                }
                <hr/>
                <input type="file" id="browseE" name="fileupload" style="display: none" onChange="handlechangeE();" accept="image/*" capture="camera" />
                <input type="button" value="ข้อสังเกตหรือปัญหาที่พบ" id="fakeBrowseE" class="btn btn-success" onclick="browseclickE();" style="margin: 20px 0;"/>
                
                @foreach (var todoList in Model.todayAlarmDtosList)
                {
                        <div class="row itemList alarm">
                            <div class="col-6" style="padding:0 10px;">
                                <input type="hidden" name="imgUrl" value="@todoList.ImageUrl" />
                                <div style="margin-bottom: 5px;"><h4>หัวข้อ</h4></div>
                                <div><div name="jqxComboBox" id="jqxComboBox-@ic"></div></div>
                                <div><h4>รายละเอียด</h4></div>
                                <div><textarea name="desc" maxlength="500" style="width:100%;padding: 5px;">@todoList.ActDesc</textarea></div>
                                <div>
                                    <input type="button" value="บันทึก" class="btn btn-success" style="margin: 5px 0 0 0;" onclick="SaveAct(this)" />
                                </div>
                                </div>
                                <div class="col-6">
                                    <image src="/@todoList.ImageUrl.Replace('\\','/')" style="width:100%"></image>
                                </div>
                        </div>
                    <hr/>
                    ic++;
                }
            </div>
            <!-- Item Section End -->

        </div>

    <!-- Main End -->
</div>
<!-- Skeleton loader End -->
@section Scripts {
    <script>
        $(document).ready(function () {
            var titleList = [];
            @foreach(var act in Model.titleActivity)
            {
                <text>titleList.push('@act');</text>
            }
            
            // Create a jqxComboBox
            @for(int i = 0; i < (Model.todayAlarmDtosList.Count + Model.todayListDtosList.Count); i++)
            {
            <text>$("#jqxComboBox-@i").jqxComboBox({source: titleList, multiSelect: true, height: 28,showCloseButtons: true});</text>
            }
            //$("[name=jqxComboBox]").each(function(){
            //    $(this).jqxComboBox({source: titleList, multiSelect: true, height: 28,showCloseButtons: true});
            //})

            @foreach(var todoList in Model.todayListDtosList)
            {
                String[] list = todoList.ActTopic.Split(',',StringSplitOptions.RemoveEmptyEntries);
                foreach(var l in list)
                {
                    var url = todoList.ImageUrl.Replace("OneDurianUpload\\", "");
                    <text>$("[value*='@url']").parents(".itemList:first").find("div[name=jqxComboBox]").jqxComboBox('selectItem', '@l');</text>
                }
            }
            @foreach(var todoList in Model.todayAlarmDtosList)
            {
                String[] list = todoList.ActTopic.Split(',',StringSplitOptions.RemoveEmptyEntries);
                foreach(var l in list)
                {
                    var url = todoList.ImageUrl.Replace("OneDurianUpload\\", "");
                    <text>$("[value*='@url']").parents(".itemList:first").find("div[name=jqxComboBox]").jqxComboBox('selectItem', '@l');</text>
                }
            }
        });

        function browseclick(){
            if($(".simple").length == 4){
                alert("อัพโหลดภาพสวนวันนี้ได้สูงสุด 4 ภาพ");
                return;
            }
            var fileinput = document.getElementById("browse");
            fileinput.click(); 
        }
        function handlechange()
        {
            var files = $("#browse")[0].files;
            var fd = new FormData();
            if(files.length > 0 ){
                fd.append('file',files[0]);
                fd.append('datatype','normalAct');
                $.ajax({
                    url:'@Url.Action("UploadFile", "Seller")',
                    type:'post',
                    data:fd,
                    contentType: false,
                    processData: false,
                    success:function(response){
				        if(response.status == 200)
                        {
                            alert("อัพโหลดรูปสำเร็จ");
                            location.reload();
                        }
                    }
                });
            }
        }
        function browseclickE(){
            if($(".alarm").length == 6){
                alert("ข้อสังเกตปรือปัญหาที่พบ 6 ภาพ");
                return;
            }
            var fileinput = document.getElementById("browseE");
            fileinput.click(); 
        }
        function handlechangeE()
        {
            var files = $("#browseE")[0].files;
            var fd = new FormData();
            if(files.length > 0 ){
                fd.append('file',files[0]);
                fd.append('datatype','alarmAct');
                $.ajax({
                    url:'@Url.Action("UploadFile", "Seller")',
                    type:'post',
                    data:fd,
                    contentType: false,
                    processData: false,
                    success:function(response){
				        if(response.status == 200)
                        {
                            alert("อัพโหลดรูปสำเร็จ");
                            location.reload();
                        }
                    }
                });
            }
        }
        function SaveAct(el){
            var dom = $(el);
            var area = dom.parents(".itemList:first");
            var title = area.find("input[name=jqxComboBox]").val();
            var desc= area.find("[name=desc]").val();
            var imgUrl = area.find("[name=imgUrl]").val();
            var fd = new FormData();
            fd.append('title',title);
            fd.append('desc',desc);
            fd.append('imgUrl',imgUrl);
            $.ajax({
                url:'@Url.Action("UpdateDesc", "Seller")',
                type:'post',
                data:fd,
                contentType: false,
                processData: false,
                success:function(response){
			      //if(response.status == 200)
                    {
                        alert("อัพโหลดรูปสำเร็จ");
                        location.reload();
                    }
                }
            });
        }
    </script>
    <style>
        .jqx-listbox-container{
            left:15px !important;
        }
    </style>
    @*<script type="text/javascript" src="~/scripts/main.js"></script>*@
    <script type="text/javascript" src="~/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcombobox.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcheckbox.js"></script>
}