@using FarmUp.Dtos.Seller
@using System.Globalization;

@*@model FarmUp.Dtos.Seller.TodoListFormDto*@

@model  FarmUp.Dtos.Seller.SellerTodoListDtoList

@{
    ViewData["Title"] = "Todo List";
    Layout = "~/Views/Shared/_SellerPageLayout_V2.cshtml";

    var dateNowStr = DateTime.Now.ToString("dd MMM yyyy", new CultureInfo("th-TH"));
}

<div>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="390" height="176" viewBox="0 0 390 176" class="img-fluid subboxtodolist">
        <defs>
            <clipPath id="clip-path">
                <rect id="Rectangle_4" data-name="Rectangle 4" width="390" height="176" transform="translate(1099 517)" fill="#fff" stroke="#707070" stroke-width="1" />
            </clipPath>
        </defs>
        <rect id="Rectangle_3" data-name="Rectangle 3" width="390" height="176" fill="#90cd32" />
        <path id="Path_109" data-name="Path 109" d="M134.365,81.7a2.76,2.76,0,0,1,1.68-2.616,18.9,18.9,0,0,0-2.472-.432,5.246,5.246,0,0,1,.816-2.832A5.176,5.176,0,0,1,136.6,73.9a7.253,7.253,0,0,1,3.24-.7,6.838,6.838,0,0,1,3,.624,4.77,4.77,0,0,1,2.04,1.752,4.6,4.6,0,0,1,.72,2.568v9.12h-3.072V78.483a2.748,2.748,0,0,0-.816-2.064A2.808,2.808,0,0,0,139.6,75.6a4.261,4.261,0,0,0-2.016.48,2.508,2.508,0,0,0-1.2,1.248,12.089,12.089,0,0,1,1.536.432,5.727,5.727,0,0,1,1.248.576V79.2a2.8,2.8,0,0,0-1.3.912,2.4,2.4,0,0,0-.432,1.44v5.712h-3.072Zm11.158-10.08a18.478,18.478,0,0,0-4.176-1.08,31.989,31.989,0,0,0-5.064-.432,15.529,15.529,0,0,0-2.544.192,4.867,4.867,0,0,1,.72-2.568,4.563,4.563,0,0,1,1.968-1.7,6.567,6.567,0,0,1,2.928-.624,5.95,5.95,0,0,1,4.44,1.656A6.626,6.626,0,0,1,145.523,71.619Zm-2.544-2.256a3.508,3.508,0,0,0-1.392-1.632,4.045,4.045,0,0,0-2.136-.552,4.094,4.094,0,0,0-1.9.408,1.98,1.98,0,0,0-1.08,1.08q.36-.024,1.1-.024a21.956,21.956,0,0,1,2.856.192A16.1,16.1,0,0,1,142.979,69.363Zm12.547,18.144a4.266,4.266,0,0,1-2.352-.576,2.492,2.492,0,0,1-1.1-1.7l-.336-1.9a2.224,2.224,0,0,1-.432.048,2.755,2.755,0,0,1-1.92-.672,2.325,2.325,0,0,1-.744-1.776,2.2,2.2,0,0,1,.768-1.776,2.934,2.934,0,0,1,1.92-.648,2.708,2.708,0,0,1,1.632.5,2.1,2.1,0,0,1,.888,1.368l.768,4.128a.719.719,0,0,0,.264.48.979.979,0,0,0,.576.168q.768,0,.768-.72V77.547a1.652,1.652,0,0,0-.744-1.416,3.176,3.176,0,0,0-1.92-.528,3.59,3.59,0,0,0-1.992.528,2.091,2.091,0,0,0-.984,1.368h-3.024a4.08,4.08,0,0,1,1.752-3.12,7.232,7.232,0,0,1,4.32-1.176,7.979,7.979,0,0,1,2.952.5,4.309,4.309,0,0,1,1.992,1.392,3.277,3.277,0,0,1,.72,2.088v7.32a2.69,2.69,0,0,1-.96,2.232A4.416,4.416,0,0,1,155.526,87.507Zm-4.344-5.592a.973.973,0,0,0,.72-.264,1.007,1.007,0,0,0,.288-.744.984.984,0,0,0-1.008-1.008,1.007,1.007,0,0,0-.744.288.928.928,0,0,0-.288.72,1.007,1.007,0,0,0,.288.744A1.058,1.058,0,0,0,151.182,81.915ZM162.4,81.7a2.762,2.762,0,0,1,1.681-2.616,18.893,18.893,0,0,0-2.473-.432,5.255,5.255,0,0,1,.817-2.832,5.176,5.176,0,0,1,2.208-1.92,7.251,7.251,0,0,1,3.239-.7,6.84,6.84,0,0,1,3,.624,4.77,4.77,0,0,1,2.04,1.752,4.6,4.6,0,0,1,.72,2.568v9.12h-3.072V78.483a2.748,2.748,0,0,0-.816-2.064,2.808,2.808,0,0,0-2.112-.816,4.261,4.261,0,0,0-2.016.48,2.508,2.508,0,0,0-1.2,1.248,12.089,12.089,0,0,1,1.536.432,5.727,5.727,0,0,1,1.248.576V79.2a2.8,2.8,0,0,0-1.3.912,2.4,2.4,0,0,0-.432,1.44v5.712H162.4Zm17.9-6.1a1.583,1.583,0,0,0-.936.288.957.957,0,0,0-.408.744,13.215,13.215,0,0,1,4.656,1.128q1.728.84,1.728,2.064V84.7a2.678,2.678,0,0,1-.84,2.04,2.99,2.99,0,0,1-2.136.768,2.916,2.916,0,0,1-2.04-.72,2.668,2.668,0,0,1-.072-3.72,2.563,2.563,0,0,1,1.9-.72h.12V80.331q0-.7-2.064-1.2a22.274,22.274,0,0,0-4.488-.648,6.311,6.311,0,0,1,1.1-3.888,3.509,3.509,0,0,1,2.928-1.392,4.688,4.688,0,0,1,1.128.12,8.411,8.411,0,0,1,1.08.288q.336.12.672.216a3.337,3.337,0,0,0,.648.072,1.089,1.089,0,0,0,.672-.216,1.3,1.3,0,0,0,.408-.6l2.112.648a3.972,3.972,0,0,1-1.032,1.944,2.208,2.208,0,0,1-1.608.7,2.97,2.97,0,0,1-.768-.1q-.36-.1-.96-.288A6.147,6.147,0,0,0,180.293,75.6Zm1.824,10.392a1.038,1.038,0,0,0,.768-.288,1.073,1.073,0,0,0,.312-.792,1.066,1.066,0,0,0-1.08-1.08,1.027,1.027,0,0,0-1.056,1.08,1.122,1.122,0,0,0,.288.792A1.09,1.09,0,0,0,182.117,85.995ZM192.246,75.6a1.583,1.583,0,0,0-.936.288.957.957,0,0,0-.408.744,13.215,13.215,0,0,1,4.656,1.128q1.728.84,1.728,2.064V84.7a2.678,2.678,0,0,1-.84,2.04,2.99,2.99,0,0,1-2.136.768,2.916,2.916,0,0,1-2.04-.72,2.668,2.668,0,0,1-.072-3.72,2.563,2.563,0,0,1,1.9-.72h.12V80.331q0-.7-2.064-1.2a22.273,22.273,0,0,0-4.488-.648,6.311,6.311,0,0,1,1.1-3.888,3.509,3.509,0,0,1,2.928-1.392,4.688,4.688,0,0,1,1.128.12,8.41,8.41,0,0,1,1.08.288q.336.12.672.216a3.337,3.337,0,0,0,.648.072,1.089,1.089,0,0,0,.672-.216,1.3,1.3,0,0,0,.408-.6l2.112.648a3.972,3.972,0,0,1-1.032,1.944,2.208,2.208,0,0,1-1.608.7,2.97,2.97,0,0,1-.768-.1q-.36-.1-.96-.288A6.148,6.148,0,0,0,192.246,75.6Zm1.824,10.392a1.038,1.038,0,0,0,.768-.288,1.073,1.073,0,0,0,.312-.792,1.066,1.066,0,0,0-1.08-1.08,1.027,1.027,0,0,0-1.056,1.08,1.122,1.122,0,0,0,.288.792A1.09,1.09,0,0,0,194.07,85.995Zm18.553-12.576V87.291h-2.664a10.022,10.022,0,0,0-1.9-1.344,13.5,13.5,0,0,0-2.136-1.008,2.572,2.572,0,0,1-.984,1.848,3.224,3.224,0,0,1-2.136.72,3.021,3.021,0,0,1-2.16-.792,2.689,2.689,0,0,1-.816-2.016,2.532,2.532,0,0,1,.72-1.872,3.04,3.04,0,0,1,1.992-.84V78.363h-.12a2.665,2.665,0,0,1-1.9-.7,2.532,2.532,0,0,1-.72-1.872,2.385,2.385,0,0,1,.792-1.848,2.86,2.86,0,0,1,2.04-.744,2.937,2.937,0,0,1,2.136.792,2.575,2.575,0,0,1,.84,1.992v6.336q1.1.384,2.184.864a13.034,13.034,0,0,1,1.776.888V73.419ZM202.4,76.875a1.038,1.038,0,0,0,.768-.288,1.073,1.073,0,0,0,.312-.792,1.066,1.066,0,0,0-1.08-1.08,1.027,1.027,0,0,0-1.056,1.08,1.122,1.122,0,0,0,.288.792A1.09,1.09,0,0,0,202.4,76.875Zm.264,8.952a1.038,1.038,0,0,0,.768-.288,1.073,1.073,0,0,0,.312-.792,1.066,1.066,0,0,0-1.08-1.08,1.073,1.073,0,0,0-.792.312,1.038,1.038,0,0,0-.288.768,1,1,0,0,0,1.08,1.08ZM220.132,73.2a6.012,6.012,0,0,1,3.936,1.152,3.848,3.848,0,0,1,1.392,3.168V84.7a2.678,2.678,0,0,1-.84,2.04,2.99,2.99,0,0,1-2.136.768,2.916,2.916,0,0,1-2.04-.72,2.668,2.668,0,0,1-.072-3.72,2.614,2.614,0,0,1,1.9-.72h.12V77.691a1.937,1.937,0,0,0-.6-1.536,2.373,2.373,0,0,0-1.7-.552,2.439,2.439,0,0,0-1.728.624,2.685,2.685,0,0,0-.792,1.68h-3.048a4.541,4.541,0,0,1,1.584-3.456A6.136,6.136,0,0,1,220.132,73.2Zm2.136,12.792a1,1,0,0,0,.768-.312,1.044,1.044,0,0,0,.312-.768,1.066,1.066,0,0,0-1.08-1.08,1.073,1.073,0,0,0-.792.312,1.038,1.038,0,0,0-.288.768,1,1,0,0,0,1.08,1.08Zm6.49-20.976a5.862,5.862,0,0,1-.888,3.264,5.614,5.614,0,0,1-2.352,2.088,7.772,7.772,0,0,1-3.384.72,6.39,6.39,0,0,1-3.672-.912,2.814,2.814,0,0,1-1.32-2.424,2.306,2.306,0,0,1,.744-1.8,2.633,2.633,0,0,1,1.872-.672,2.665,2.665,0,0,1,1.9.7,2.306,2.306,0,0,1,.744,1.8,2.6,2.6,0,0,1-.456,1.536,4.155,4.155,0,0,0,3.216-1.224,4.566,4.566,0,0,0,1.128-3.072Zm-10.08,2.712a1.073,1.073,0,0,0,.312.792,1.092,1.092,0,0,0,1.848-.792,1.007,1.007,0,0,0-.288-.744,1.122,1.122,0,0,0-.792-.288,1.038,1.038,0,0,0-.768.288A.966.966,0,0,0,218.678,67.731Zm21.234,14.688a2.672,2.672,0,0,1,1.176.936,2.245,2.245,0,0,1,.432,1.344,2.789,2.789,0,0,1-.768,2.064,2.724,2.724,0,0,1-2.016.744,2.828,2.828,0,0,1-2.016-.72,2.657,2.657,0,0,1-.768-1.944,7.362,7.362,0,0,0-1.728,1.056,5.244,5.244,0,0,0-1.248,1.368h-2.9v-8.9h-.12a2.7,2.7,0,0,1-1.92-.7,2.532,2.532,0,0,1-.72-1.872,2.385,2.385,0,0,1,.792-1.848,2.86,2.86,0,0,1,2.04-.744,2.937,2.937,0,0,1,2.136.792,2.575,2.575,0,0,1,.84,1.992v8.208a6.661,6.661,0,0,1,2.52-1.632,6.349,6.349,0,0,0,1.656-.96,1.554,1.554,0,0,0,.528-1.2V73.419H240.9v6.912a2.857,2.857,0,0,1-.264,1.248A1.965,1.965,0,0,1,239.912,82.419Zm-9.984-5.544a1.038,1.038,0,0,0,.768-.288,1.073,1.073,0,0,0,.312-.792,1.066,1.066,0,0,0-1.08-1.08,1.044,1.044,0,0,0-.768.312,1,1,0,0,0-.312.768,1.066,1.066,0,0,0,1.08,1.08Zm8.808,9.12a1,1,0,0,0,.768-.312,1.044,1.044,0,0,0,.312-.768,1.066,1.066,0,0,0-1.08-1.08,1.044,1.044,0,0,0-.768.312,1,1,0,0,0-.312.768,1.066,1.066,0,0,0,1.08,1.08Zm16.785-3.576a2.672,2.672,0,0,1,1.176.936,2.245,2.245,0,0,1,.432,1.344,2.789,2.789,0,0,1-.768,2.064,2.724,2.724,0,0,1-2.016.744,2.828,2.828,0,0,1-2.016-.72,2.657,2.657,0,0,1-.768-1.944,7.362,7.362,0,0,0-1.728,1.056,5.244,5.244,0,0,0-1.248,1.368h-2.9v-8.9h-.12a2.7,2.7,0,0,1-1.92-.7,2.532,2.532,0,0,1-.72-1.872,2.385,2.385,0,0,1,.792-1.848,2.86,2.86,0,0,1,2.04-.744,2.937,2.937,0,0,1,2.136.792,2.575,2.575,0,0,1,.84,1.992v8.208a6.66,6.66,0,0,1,2.52-1.632,6.349,6.349,0,0,0,1.656-.96,1.554,1.554,0,0,0,.528-1.2V73.419h3.072v6.912a2.857,2.857,0,0,1-.264,1.248A1.965,1.965,0,0,1,255.521,82.419Zm-9.984-5.544a1.038,1.038,0,0,0,.768-.288,1.073,1.073,0,0,0,.312-.792,1.066,1.066,0,0,0-1.08-1.08,1.044,1.044,0,0,0-.768.312,1,1,0,0,0-.312.768,1.066,1.066,0,0,0,1.08,1.08Zm8.808,9.12a1,1,0,0,0,.768-.312,1.044,1.044,0,0,0,.312-.768,1.066,1.066,0,0,0-1.08-1.08,1.044,1.044,0,0,0-.768.312,1,1,0,0,0-.312.768,1.066,1.066,0,0,0,1.08,1.08Zm2.6-15.792a9.847,9.847,0,0,1,.168,1.416,18.478,18.478,0,0,0-4.176-1.08,31.989,31.989,0,0,0-5.064-.432,15.529,15.529,0,0,0-2.544.192,4.867,4.867,0,0,1,.72-2.568,4.563,4.563,0,0,1,1.968-1.7,6.567,6.567,0,0,1,2.928-.624,6.456,6.456,0,0,1,3.456.888v-1.92h2.544Zm-7.776-1.56a21.956,21.956,0,0,1,2.856.192,16.1,16.1,0,0,1,2.544.528,3.508,3.508,0,0,0-1.392-1.632,4.045,4.045,0,0,0-2.136-.552,4.094,4.094,0,0,0-1.9.408,1.98,1.98,0,0,0-1.08,1.08Q248.421,68.643,249.165,68.643ZM259.8,56.907a5.533,5.533,0,0,1-1.2,3.12,7.157,7.157,0,0,1-2.808,2.088,9.724,9.724,0,0,1-3.84.744H250.8V61.707a5.316,5.316,0,0,0,1.992-1.2h-.1a2,2,0,0,1-1.44-.5,1.946,1.946,0,0,1-.528-1.44,1.764,1.764,0,0,1,.6-1.392,2.341,2.341,0,0,1,3.048.024,2,2,0,0,1,.6,1.512,4.034,4.034,0,0,1-.216,1.224,3.18,3.18,0,0,1-.672,1.176,4.779,4.779,0,0,0,1.8-.96,5.673,5.673,0,0,0,1.224-1.56,4.324,4.324,0,0,0,.48-1.68Zm-7.728,1.68a.831.831,0,0,0,.216.576.813.813,0,0,0,1.1,0,.831.831,0,0,0,.216-.576.748.748,0,0,0-.216-.552.8.8,0,0,0-.552-.216.739.739,0,0,0-.768.768Z" fill="#f9f9f9" />
        <g id="Mask_Group_2" data-name="Mask Group 2" transform="translate(-1099 -517)" clip-path="url(#clip-path)">
            <g id="Group_7" data-name="Group 7" transform="translate(1099 517)">
                <path id="Path_37" data-name="Path 37" d="M386.974,143.132l-6.224,4.49,2.828,5.51-7.106,3.2.989,6.168-7.54,1.707-.911,6.439-7.5.109-2.755,6.3-6.992-1.5-4.424,5.774-6.043-3.009-5.818,4.881-4.712-4.331-6.845,3.682-3.087-5.382-7.441,2.252-1.268-6.1-7.57.679.63-6.424-7.224-.937,2.491-6.349-6.424-2.492,4.193-5.876L293,148.043l5.633-5.034-3.688-5.048,6.717-3.874-1.924-5.886,7.381-2.474-.039-6.352,7.581-.917,1.848-6.422,7.3.7,3.618-6.087,6.57,2.27,5.161-5.371,5.42,3.7,6.381-4.316,3.93,4.894,7.2-2.99,2.2,5.784,7.564-1.476.322,6.308,7.456.131-1.573,6.437,6.879,1.728-3.369,6.162,5.869,3.218-4.952,5.5,4.49,4.505Z" fill="#679f10" />
                <path id="Path_38" data-name="Path 38" d="M332.571,171.838c-8.651.3-29.022-4.013-31.305-11.606a33.179,33.179,0,0,1-.546-13.395c4.4-30.284,45.84-47.306,72.337-32.169l.058-.167C383.286,134.461,362.5,174.387,332.571,171.838Zm16.491-62.571c-27.109-1.079-54.959,27.245-47.546,50.96,10.658,15.035,49.592,16.528,62.347-3.222,12.182-17.259,14.006-30.41,9.213-42.076a57.188,57.188,0,0,0-24.012-5.662Z" />
                <path id="Path_39" data-name="Path 39" d="M300.424,158.286c-3.712,10.755,45.909,30.756,68.853-1.449,22.473-31.541,2.9-43.97,2.9-43.97C348.813,96.008,290.775,117.993,300.424,158.286Z" fill="#f5f5a0" />
                <path id="Path_40" data-name="Path 40" d="M304.787,163.529c22.522-15.774,45.993-25.427,69.416-43.882,8.784,13.635-.976,17.944-3.927,25.675-9.524,17.987-18.015,16.318-26.886,21.927-14.7,6.149-28.048,6.842-38.6-3.722Z" fill="#feb505" />
                <path id="Path_41" data-name="Path 41" d="M313.236,160.607s-4.51,6.132-1.793,7.652,21.164,7.948,24.876-2.291,2.13-19.709-1.719-18.162-21.366,12.8-21.366,12.8Z" fill="#ffd62a" />
                <path id="Path_42" data-name="Path 42" d="M339.558,145.7c-3.86,14.908,12.236,23.5,22.119,4.842,4.2-9.981.2-16.5-4.838-14.727s-17.281,9.885-17.283,9.885Z" fill="#ffd62a" />
                <path id="Path_43" data-name="Path 43" d="M370.85,122.563s-13.206,7.6-11.783,10.893,13.717,7.788,15.877,3.206.826-12.425,0-13.388-4.092-.709-4.092-.709Z" fill="#ffd62a" />
                <path id="Path_44" data-name="Path 44" d="M302.175,159.328c23.688-12.7,42.436-28.927,68.858-41.234-8.08-13.663-16.133-7.047-24.195-7.875-19.922.391-22.187,8.529-30.985,13.8C304.02,134.136,297.559,145.474,302.175,159.328Z" fill="#feb505" />
                <path id="Path_45" data-name="Path 45" d="M308.44,153.244s-7.346,1.234-7.486-1.805,2.328-21.957,12.918-20.689,18.187,6.817,15.144,9.493S308.44,153.244,308.44,153.244Z" fill="#ffd62a" />
                <path id="Path_46" data-name="Path 46" d="M333.029,136.845c-14.708-3.175-15.241-21.005,5.465-21.424,10.575.733,14.527,7.082,10.77,10.7S333.029,136.845,333.029,136.845Z" fill="#ffd62a" />
                <path id="Path_47" data-name="Path 47" d="M367.013,119.736s-12.444,8.174-14.7,5.485-.8-15.393,4.159-15.258,11.239,4.748,11.718,5.894-1.174,3.881-1.174,3.881Z" fill="#ffd62a" />
                <path id="Path_48" data-name="Path 48" d="M372.9,113.2,388.659,94.5c4.965,1.178,5.272,7.077,5.341,10.415l-14.955,14.953Z" fill="#913d05" />
                <path id="Path_49" data-name="Path 49" d="M357.44,112.141c.144,1.362-1.515,3.11-1.981,4.936a20.7,20.7,0,0,0-1.062,5.271c-.105,1.137-.174,1.93-.524,2.031-2.1-1.015-1.918-5.793-.759-8.252C354.6,112.76,357.088,111.745,357.44,112.141Z" fill="#fce789" />
                <path id="Path_50" data-name="Path 50" d="M334.454,119c0,.263-.591.465-1.462.834-2.332.8-5,3.3-5.5,6.068a9.287,9.287,0,0,0,.28,4.75c.369,1.212.76,1.971.531,2.184-2.225-.263-3.863-4.265-3.287-7.415.4-3.671,4.445-7.179,7.718-6.984,1.129,0,1.724.321,1.72.563Z" fill="#fce789" />
                <path id="Path_51" data-name="Path 51" d="M312.93,132.839c.239.262-.44,1.259-1.438,2.817a32.951,32.951,0,0,0-5.2,13.139c-.335,1.8-.524,2.979-.875,3.005-1.706-2.057-.986-7.179.34-10.717,1.417-3.533,4.488-7.92,7.177-8.244Z" fill="#fce789" />
                <path id="Path_52" data-name="Path 52" d="M368.791,126.176c.1.346-.419.8-1.107,1.42a13.841,13.841,0,0,0-3.061,3.691c-.943,1.741-1.231,3.391-1.811,3.432-.473.033-1.445-1.738-.445-4.427.735-2.418,4.505-5.528,6.424-4.114Z" fill="#fce789" />
                <path id="Path_53" data-name="Path 53" d="M354.612,138.818c.06.35-1.217.816-3.02,1.823a19,19,0,0,0-7.149,6.815,19.872,19.872,0,0,0-2.218,6.061c-.337,1.631-.457,2.693-.769,2.727-1.653-1.949-.928-6.712.772-10.005,2.057-4.414,8.814-8.848,12.382-7.421Z" fill="#fce789" />
                <path id="Path_54" data-name="Path 54" d="M328.3,153.339c.132.329-.765,1-2.157,2.02a47.489,47.489,0,0,0-5.975,5.01,55.652,55.652,0,0,0-3.828,4.378c-.944,1.161-1.58,1.883-1.877,1.745-.539-.251.335-4.073,3.862-7.885,2.485-2.657,7.261-5.995,9.977-5.268Z" fill="#fce789" />
                <path id="Path_55" data-name="Path 55" d="M4.026,143.132l6.224,4.49-2.828,5.51,7.106,3.2-.989,6.168,7.54,1.707.911,6.439,7.5.109,2.755,6.3,6.992-1.5,4.425,5.774,6.042-3.009,5.818,4.881,4.713-4.331,6.845,3.682,3.087-5.382,7.441,2.252,1.268-6.1,7.57.679-.63-6.424,7.224-.937L90.551,160.3l6.424-2.492-4.193-5.876L98,148.043l-5.633-5.034,3.688-5.048-6.717-3.874,1.924-5.886-7.381-2.474.039-6.352-7.581-.917-1.848-6.422-7.3.7-3.619-6.087L57,108.919l-5.161-5.371-5.42,3.7-6.381-4.316-3.931,4.894-7.2-2.99-2.2,5.784-7.565-1.476-.322,6.308-7.456.131,1.573,6.437-6.878,1.728,3.368,6.162-5.868,3.218,4.952,5.5-4.49,4.505Z" fill="#679f10" />
                <path id="Path_56" data-name="Path 56" d="M58.429,171.838c8.651.3,29.022-4.013,31.305-11.606a33.184,33.184,0,0,0,.546-13.395c-4.4-30.284-45.84-47.306-72.337-32.169l-.058-.167C7.714,134.461,28.5,174.387,58.429,171.838Zm-16.49-62.571c27.109-1.079,54.958,27.245,47.545,50.96-10.658,15.035-49.591,16.528-62.347-3.222-12.182-17.259-14.005-30.41-9.212-42.076a57.184,57.184,0,0,1,24.012-5.662Z" />
                <path id="Path_57" data-name="Path 57" d="M90.576,158.286c3.712,10.755-45.909,30.756-68.853-1.449-22.473-31.541-2.9-43.97-2.9-43.97C42.187,96.008,100.225,117.993,90.576,158.286Z" fill="#f5f5a0" />
                <path id="Path_58" data-name="Path 58" d="M86.213,163.529C63.691,147.755,40.22,138.1,16.8,119.647c-8.784,13.635.976,17.944,3.927,25.675,9.524,17.987,18.015,16.318,26.886,21.927,14.7,6.149,28.048,6.842,38.6-3.722Z" fill="#feb505" />
                <path id="Path_59" data-name="Path 59" d="M77.764,160.607s4.511,6.132,1.793,7.652-21.164,7.948-24.876-2.291-2.13-19.709,1.719-18.162,21.366,12.8,21.366,12.8Z" fill="#ffd62a" />
                <path id="Path_60" data-name="Path 60" d="M51.442,145.7c3.86,14.908-12.236,23.5-22.12,4.842-4.195-9.981-.2-16.5,4.838-14.727S51.442,145.7,51.444,145.7Z" fill="#ffd62a" />
                <path id="Path_61" data-name="Path 61" d="M20.15,122.563s13.207,7.6,11.784,10.893-13.717,7.788-15.877,3.206-.827-12.425,0-13.388,4.092-.709,4.092-.709Z" fill="#ffd62a" />
                <path id="Path_62" data-name="Path 62" d="M88.825,159.328c-23.688-12.7-42.436-28.927-68.859-41.234,8.081-13.663,16.133-7.047,24.2-7.875,19.922.391,22.187,8.529,30.986,13.8C86.979,134.136,93.441,145.474,88.825,159.328Z" fill="#feb505" />
                <path id="Path_63" data-name="Path 63" d="M82.56,153.244s7.346,1.234,7.486-1.805-2.328-21.957-12.919-20.689-18.187,6.817-15.144,9.493S82.56,153.244,82.56,153.244Z" fill="#ffd62a" />
                <path id="Path_64" data-name="Path 64" d="M57.971,136.845c14.708-3.175,15.241-21.005-5.464-21.424-10.575.733-14.527,7.082-10.77,10.7S57.971,136.845,57.971,136.845Z" fill="#ffd62a" />
                <path id="Path_65" data-name="Path 65" d="M23.987,119.736s12.444,8.174,14.7,5.485.8-15.393-4.159-15.258-11.239,4.748-11.718,5.894,1.175,3.881,1.175,3.881Z" fill="#ffd62a" />
                <path id="Path_66" data-name="Path 66" d="M18.1,113.2,2.341,94.5C-2.624,95.683-2.931,101.581-3,104.919l14.955,14.953Z" fill="#913d05" />
                <path id="Path_67" data-name="Path 67" d="M33.56,112.141c-.144,1.362,1.515,3.11,1.98,4.936a20.675,20.675,0,0,1,1.062,5.271c.1,1.137.174,1.93.524,2.031,2.1-1.015,1.919-5.793.759-8.252C36.4,112.76,33.912,111.745,33.56,112.141Z" fill="#fce789" />
                <path id="Path_68" data-name="Path 68" d="M56.546,119c0,.263.591.465,1.462.834,2.332.8,5,3.3,5.5,6.068a9.281,9.281,0,0,1-.28,4.75c-.368,1.212-.759,1.971-.531,2.184,2.225-.263,3.864-4.265,3.288-7.415-.4-3.671-4.445-7.179-7.718-6.984-1.13,0-1.724.321-1.721.563Z" fill="#fce789" />
                <path id="Path_69" data-name="Path 69" d="M78.07,132.839c-.239.262.439,1.259,1.438,2.817a32.972,32.972,0,0,1,5.2,13.139c.335,1.8.524,2.979.875,3.005,1.706-2.057.986-7.179-.34-10.717-1.418-3.533-4.488-7.92-7.178-8.244Z" fill="#fce789" />
                <path id="Path_70" data-name="Path 70" d="M22.209,126.176c-.1.346.419.8,1.107,1.42a13.85,13.85,0,0,1,3.061,3.691c.943,1.741,1.231,3.391,1.81,3.432.473.033,1.446-1.738.445-4.427-.735-2.418-4.505-5.528-6.424-4.114Z" fill="#fce789" />
                <path id="Path_71" data-name="Path 71" d="M36.388,138.818c-.06.35,1.217.816,3.02,1.823a19,19,0,0,1,7.149,6.815,19.906,19.906,0,0,1,2.218,6.061c.337,1.631.456,2.693.769,2.727,1.653-1.949.928-6.712-.772-10.005-2.057-4.414-8.814-8.848-12.382-7.421Z" fill="#fce789" />
                <path id="Path_72" data-name="Path 72" d="M62.7,153.339c-.133.329.765,1,2.156,2.02a47.42,47.42,0,0,1,5.975,5.01,55.53,55.53,0,0,1,3.828,4.378c.944,1.161,1.58,1.883,1.877,1.745.539-.251-.335-4.073-3.862-7.885-2.485-2.657-7.262-5.995-9.977-5.268Z" fill="#fce789" />
                <path id="Path_73" data-name="Path 73" d="M393.618,30.332l-3.883,2.8,1.764,3.437-4.433,2,.618,3.847-4.7,1.065-.568,4.016-4.68.068-1.718,3.932-4.362-.933-2.76,3.6-3.768-1.877-3.629,3.044-2.94-2.7-4.269,2.3-1.926-3.357-4.642,1.4-.791-3.8-4.722.424.394-4.007L338.092,45l1.554-3.96-4.007-1.555,2.616-3.665L335,33.4l3.513-3.14-2.3-3.148,4.19-2.417-1.2-3.671,4.6-1.543-.024-3.963,4.729-.572,1.152-4.006,4.556.436,2.257-3.8,4.1,1.416,3.22-3.35,3.38,2.307,3.98-2.692,2.452,3.053L378.1,6.444l1.37,3.608,4.718-.92.2,3.935,4.651.082-.981,4.015,4.29,1.078-2.1,3.844,3.661,2.007-3.089,3.43,2.8,2.81Z" fill="#679f10" />
                <path id="Path_74" data-name="Path 74" d="M359.683,48.238c-5.4.188-18.1-2.5-19.527-7.239a20.7,20.7,0,0,1-.341-8.356c2.743-18.89,28.593-29.508,45.121-20.066l.037-.1C391.317,24.923,378.353,49.828,359.683,48.238Zm10.286-39.03C353.06,8.535,335.688,26.2,340.312,41c6.648,9.379,30.933,10.309,38.89-2.01,7.6-10.766,8.736-18.968,5.746-26.245A35.669,35.669,0,0,0,369.97,9.208Z" />
                <path id="Path_75" data-name="Path 75" d="M339.631,39.785c-2.315,6.708,28.636,19.184,42.948-.9,14.018-19.674,1.808-27.427,1.808-27.427C369.814.938,333.612,14.651,339.631,39.785Z" fill="#f5f5a0" />
                <path id="Path_76" data-name="Path 76" d="M342.352,43.055c14.049-9.839,28.689-15.861,43.3-27.372,5.479,8.5-.609,11.193-2.45,16.015-5.941,11.219-11.237,10.179-16.771,13.677-9.17,3.835-17.495,4.268-24.079-2.321Z" fill="#feb505" />
                <path id="Path_77" data-name="Path 77" d="M347.623,41.232s-2.814,3.825-1.119,4.773,13.2,4.958,15.517-1.429,1.328-12.294-1.072-11.329-13.328,7.985-13.328,7.985Z" fill="#ffd62a" />
                <path id="Path_78" data-name="Path 78" d="M364.041,31.936c-2.408,9.3,7.632,14.659,13.8,3.02,2.617-6.226.128-10.29-3.017-9.186s-10.78,6.166-10.781,6.166Z" fill="#ffd62a" />
                <path id="Path_79" data-name="Path 79" d="M383.56,17.5s-8.238,4.74-7.35,6.795,8.556,4.857,9.9,2,.516-7.75,0-8.351-2.552-.442-2.552-.442Z" fill="#ffd62a" />
                <path id="Path_80" data-name="Path 80" d="M340.723,40.434c14.776-7.923,26.47-18.043,42.951-25.72-5.04-8.522-10.063-4.4-15.092-4.912-12.426.244-13.839,5.32-19.327,8.609C341.874,24.72,337.844,31.793,340.723,40.434Z" fill="#feb505" />
                <path id="Path_81" data-name="Path 81" d="M344.631,36.64s-4.582.77-4.67-1.126,1.452-13.7,8.058-12.905,11.344,4.252,9.446,5.921S344.631,36.64,344.631,36.64Z" fill="#ffd62a" />
                <path id="Path_82" data-name="Path 82" d="M359.969,26.41c-9.175-1.981-9.507-13.1,3.408-13.363,6.6.457,9.062,4.417,6.718,6.675S359.969,26.41,359.969,26.41Z" fill="#ffd62a" />
                <path id="Path_83" data-name="Path 83" d="M381.166,15.738s-7.762,5.1-9.171,3.421-.5-9.6,2.6-9.517,7.01,2.962,7.309,3.677-.733,2.42-.733,2.42Z" fill="#ffd62a" />
                <path id="Path_84" data-name="Path 84" d="M384.841,11.659,394.668,0c3.1.735,3.289,4.414,3.332,6.5l-9.328,9.327Z" fill="#913d05" />
                <path id="Path_85" data-name="Path 85" d="M375.2,11c.09.849-.945,1.94-1.235,3.078a12.893,12.893,0,0,0-.663,3.288c-.065.709-.108,1.2-.326,1.267-1.312-.633-1.2-3.614-.474-5.148C373.425,11.387,374.976,10.754,375.2,11Z" fill="#fce789" />
                <path id="Path_86" data-name="Path 86" d="M360.858,15.28c0,.164-.369.29-.913.52a5.509,5.509,0,0,0-3.429,3.785,5.789,5.789,0,0,0,.175,2.963c.23.756.474,1.229.331,1.362-1.388-.164-2.41-2.661-2.05-4.625.248-2.29,2.772-4.478,4.814-4.357.7,0,1.075.2,1.073.351Z" fill="#fce789" />
                <path id="Path_87" data-name="Path 87" d="M347.431,23.912c.15.163-.274.785-.9,1.757a20.582,20.582,0,0,0-3.244,8.2c-.209,1.123-.326,1.858-.546,1.875-1.064-1.283-.614-4.478.213-6.685.884-2.2,2.8-4.94,4.477-5.142Z" fill="#fce789" />
                <path id="Path_88" data-name="Path 88" d="M382.276,19.756c.061.216-.262.5-.691.885a8.636,8.636,0,0,0-1.909,2.3c-.588,1.086-.768,2.115-1.13,2.14-.295.021-.9-1.084-.277-2.761.458-1.508,2.81-3.448,4.007-2.566Z" fill="#fce789" />
                <path id="Path_89" data-name="Path 89" d="M373.431,27.641c.038.218-.759.509-1.884,1.137a11.844,11.844,0,0,0-4.459,4.251A12.439,12.439,0,0,0,365.7,36.81c-.209,1.017-.284,1.68-.479,1.7-1.031-1.215-.579-4.187.482-6.241,1.283-2.753,5.5-5.519,7.723-4.629Z" fill="#fce789" />
                <path id="Path_90" data-name="Path 90" d="M357.021,36.7c.083.205-.477.626-1.345,1.26a29.614,29.614,0,0,0-3.727,3.125,34.768,34.768,0,0,0-2.388,2.731c-.589.724-.985,1.175-1.171,1.088-.336-.156.209-2.541,2.409-4.918,1.55-1.658,4.53-3.74,6.223-3.286Z" fill="#fce789" />
                <path id="Path_91" data-name="Path 91" d="M-3.618,30.332l3.882,2.8L-1.5,36.569l4.433,2-.617,3.847,4.7,1.065.568,4.016,4.68.068,1.718,3.932,4.362-.933,2.76,3.6,3.769-1.877,3.629,3.044,2.94-2.7,4.269,2.3,1.926-3.357,4.641,1.4.791-3.8,4.722.424L47.4,45.588,51.908,45l-1.554-3.96,4.007-1.555-2.615-3.665L55,33.4l-3.514-3.14,2.3-3.148L49.6,24.69l1.2-3.671-4.6-1.543.024-3.963-4.729-.572-1.153-4.006-4.556.436-2.257-3.8-4.1,1.416-3.22-3.35-3.38,2.307-3.98-2.692L16.392,8.309,11.9,6.444l-1.369,3.608-4.719-.92-.2,3.935-4.651.082.981,4.015-4.29,1.078,2.1,3.844-3.66,2.007,3.089,3.43-2.8,2.81Z" fill="#679f10" />
                <path id="Path_92" data-name="Path 92" d="M30.317,48.238c5.4.188,18.1-2.5,19.527-7.239a20.7,20.7,0,0,0,.341-8.356C47.442,13.753,21.592,3.135,5.064,12.577l-.036-.1C-1.317,24.923,11.647,49.828,30.317,48.238ZM20.031,9.208C36.94,8.535,54.312,26.2,49.688,41,43.04,50.374,18.755,51.3,10.8,38.985,3.2,28.22,2.062,20.017,5.052,12.74A35.669,35.669,0,0,1,20.03,9.208Z" />
                <path id="Path_93" data-name="Path 93" d="M50.369,39.785c2.316,6.708-28.636,19.184-42.948-.9C-6.6,19.206,5.613,11.454,5.613,11.454,20.186.938,56.388,14.651,50.369,39.785Z" fill="#f5f5a0" />
                <path id="Path_94" data-name="Path 94" d="M47.648,43.055C33.6,33.216,18.959,27.194,4.348,15.683c-5.479,8.5.609,11.193,2.45,16.015,5.941,11.219,11.237,10.179,16.771,13.677,9.17,3.835,17.5,4.268,24.079-2.321Z" fill="#feb505" />
                <path id="Path_95" data-name="Path 95" d="M42.377,41.232s2.813,3.825,1.119,4.773-13.2,4.958-15.517-1.429-1.329-12.294,1.072-11.329,13.327,7.985,13.327,7.985Z" fill="#ffd62a" />
                <path id="Path_96" data-name="Path 96" d="M25.959,31.936c2.408,9.3-7.632,14.659-13.8,3.02-2.616-6.226-.127-10.29,3.018-9.186s10.78,6.166,10.781,6.166Z" fill="#ffd62a" />
                <path id="Path_97" data-name="Path 97" d="M6.44,17.5s8.238,4.74,7.35,6.795-8.556,4.857-9.9,2-.516-7.75,0-8.351S6.441,17.5,6.441,17.5Z" fill="#ffd62a" />
                <path id="Path_98" data-name="Path 98" d="M49.277,40.434C34.5,32.511,22.807,22.391,6.326,14.714c5.04-8.522,10.063-4.4,15.092-4.912,12.427.244,13.839,5.32,19.328,8.609C48.126,24.72,52.156,31.793,49.277,40.434Z" fill="#feb505" />
                <path id="Path_99" data-name="Path 99" d="M45.369,36.64s4.582.77,4.669-1.126-1.452-13.7-8.058-12.905-11.344,4.252-9.446,5.921S45.369,36.64,45.369,36.64Z" fill="#ffd62a" />
                <path id="Path_100" data-name="Path 100" d="M30.031,26.41c9.174-1.981,9.507-13.1-3.409-13.363-6.6.457-9.061,4.417-6.718,6.675S30.031,26.41,30.031,26.41Z" fill="#ffd62a" />
                <path id="Path_101" data-name="Path 101" d="M8.834,15.738S16.6,20.837,18,19.16s.5-9.6-2.594-9.517S8.4,12.6,8.1,13.319s.733,2.42.733,2.42Z" fill="#ffd62a" />
                <path id="Path_102" data-name="Path 102" d="M5.159,11.659-4.668,0C-7.766.735-7.957,4.414-8,6.5l9.328,9.327Z" fill="#913d05" />
                <path id="Path_103" data-name="Path 103" d="M14.805,11c-.09.849.945,1.94,1.235,3.078a12.9,12.9,0,0,1,.663,3.288c.065.709.108,1.2.327,1.267,1.311-.633,1.2-3.614.474-5.148C16.574,11.387,15.024,10.754,14.805,11Z" fill="#fce789" />
                <path id="Path_104" data-name="Path 104" d="M29.142,15.28c0,.164.369.29.912.52a5.508,5.508,0,0,1,3.43,3.785,5.791,5.791,0,0,1-.175,2.963c-.23.756-.474,1.229-.331,1.362,1.388-.164,2.41-2.661,2.051-4.625-.249-2.29-2.773-4.478-4.814-4.357-.7,0-1.076.2-1.073.351Z" fill="#fce789" />
                <path id="Path_105" data-name="Path 105" d="M42.569,23.912c-.149.163.274.785.9,1.757a20.567,20.567,0,0,1,3.244,8.2c.209,1.123.327,1.858.546,1.875,1.064-1.283.615-4.478-.212-6.685-.884-2.2-2.8-4.94-4.477-5.142Z" fill="#fce789" />
                <path id="Path_106" data-name="Path 106" d="M7.724,19.756c-.062.216.261.5.691.885a8.645,8.645,0,0,1,1.91,2.3c.588,1.086.767,2.115,1.129,2.14.3.021.9-1.084.278-2.761-.458-1.508-2.81-3.448-4.007-2.566Z" fill="#fce789" />
                <path id="Path_107" data-name="Path 107" d="M16.569,27.641c-.037.218.759.509,1.884,1.137a11.846,11.846,0,0,1,4.459,4.251A12.413,12.413,0,0,1,24.3,36.81c.21,1.017.285,1.68.479,1.7,1.031-1.215.579-4.187-.482-6.241-1.283-2.753-5.5-5.519-7.723-4.629Z" fill="#fce789" />
                <path id="Path_108" data-name="Path 108" d="M32.979,36.7c-.083.205.477.626,1.345,1.26a29.565,29.565,0,0,1,3.727,3.125,34.658,34.658,0,0,1,2.388,2.731c.589.724.986,1.175,1.171,1.088.336-.156-.209-2.541-2.409-4.918-1.55-1.658-4.529-3.74-6.223-3.286Z" fill="#fce789" />
            </g>
        </g>
        <text id="@dateNowStr" data-name="@dateNowStr" transform="translate(153 113)" fill="#fff" font-size="17" font-family="Sarabun-Regular, Sarabun"><tspan x="0" y="0" xml:space="preserve">@dateNowStr</tspan></text>
    </svg>

</div>

<div class="container-fluid main-wrap order-detail" style="background-color:#F9F9F9">
    <div class="row">
        <div class ="col-12" style="height:40px"></div>
    </div>
    <div class="row">
        <div class="col-6">
            <div style="font-size:22px;margin:5px">&nbsp;<b>กิจกรรมวันนี้</b></div>
        </div>
        <div class="col-6">
            <a href="@Url.Action("TodoListAddForm","Seller")" class="btn btn-default btn-rounded right float-end" style="background-color:#FFD62A;font-size:14px;margin-right:10px;"><i class="fa fa-plus"></i> <b>เพิ่มรายการ &nbsp;</b> </a>
        </div>
    </div>
    @{
        if (!Model.todayListDtosList.Any() && !Model.todayAlarmDtosList.Any())
        {
            <div class="row">
                <div style="height:100px"></div>
            </div>
            <div class="row">
                <img src="~/assets/images/seller/emptyform.png" class="img-fluid subboxtodolist" alt="offer" style="width:30%">
            </div>
            <div class="row">
                <div class="col-12 text-center" style="font-size:20px;margin-top:15px;color:#9B9B9B;">ไม่มีรายการกิจกรรม</div>
            </div>
            <div class="row">
                <div style="height:200px"></div>
            </div>
        }
        else
        {
            foreach (var item in Model.todayListDtosList)
            {
                //this should be data from db **ex item.created_at
                var date = DateTime.Now;

                <div class="order-box bg2-light boxcustom cardbox">
                    <div class="container-fluid">
                        <div class="row">
                            <div class ="col-12" style="height:10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-12" style="font-size:18px"><b>@item.ActTopic</b></div>
                        </div>
                        <div class="row">
                            <div class ="col-12" style="height:8px"></div>
                        </div>
                        <div class="row">
                            <div class="col-12 textboxparagraph">@item.ActDesc</div>
                        </div>
                        <div class="row">
                            <div class ="col-12" style="height:20px"></div>
                        </div>
                        <div class="row">
                            <div class="col-12" style="font-size:15px;color:#328E62;">@date.ToString("dd/MM/yyyy, hh:mm", new CultureInfo("th-TH"))</div>
                        </div>
                    </div>
                </div>
            }

            foreach (var item in Model.todayAlarmDtosList)
            {
                //this should be data from db **ex item.created_at
                var date = DateTime.Now;

                <div class="order-box bg2-light boxcustom cardbox">
                    <div class="container-fluid">
                        <div class="row">
                            <div class ="col-12" style="height:10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-12" style="font-size:18px"><b>@item.ActTopic</b></div>
                        </div>
                        <div class="row">
                            <div class ="col-12" style="height:8px"></div>
                        </div>
                        <div class="row">
                            <div class="col-12 textboxparagraph">@item.ActDesc</div>
                        </div>
                        <div class="row">
                            <div class ="col-12" style="height:20px"></div>
                        </div>
                        <div class="row">
                            <div class="col-12" style="font-size:15px;color:#328E62;">@date.ToString("dd/MM/yyyy, hh:mm", new CultureInfo("th-TH"))</div>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>


@*<!-- Skeleton loader Start -->
<div>
    <!-- Header Start -->
    <header class="header">
        <div class="logo-wrap">
            <a href="index.html" style="visibility:hidden"><i class="iconly-Arrow-Left-Square icli"></i></a>
            <h1 class="title-color font-md" style="visibility:hidden">รายการต้องทำ</h1>
        </div>
        <div class="avatar-wrap">
            <a href="index.html" style="visibility:hidden">
                <i class="iconly-Home icli"></i>
            </a>
        </div>
    </header>
    <!-- Header End -->
    <!-- Main Start -->
        <div class="main-wrap order-detail mb-xxl">
            <!-- Banner Start -->
            <div class="section-p-b">
                <div class="banner-box">
                    <div class="media">
                        <div class="img"></div>
                        <div class="media-body">
                            <h2>กิจกรรมวันนี้ (@DateTime.Now.ToString("dd/MM/yy"))</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner End -->
            <!-- Item Section Start -->
            <div class="item-section p-0">
                <h3 class="font-theme font-md" style="display:none;">กิจกรรมวันนี้ (@DateTime.Now.ToString("dd/MM/yy")):</h3>
                @{int ic = 0;}
                <input type="file" id="browse" name="fileupload" style="display: none" onChange="handlechange();" accept="image/*" capture="camera" />
                <input type="button" value="รูปสวนอัพเดตวันนี้" id="fakeBrowse" class="btn btn-success" onclick="browseclick();" style="margin: 20px 0;display:none"/>

                @foreach(var todoList in Model.todayListDtosList)
                {
                    <div class="row itemList simple">
                        <div class="col-6" style="padding:0 10px;">
                            <input type="hidden" name="imgUrl" value="@todoList.ImageUrl" />
                            <div style="margin-top: 5px;"><h4>หัวข้อ</h4></div>
                            <div><div name="jqxComboBox" id="jqxComboBox-@ic"></div></div>
                            <div><h4>รายละเอียด</h4></div>
                            <div><textarea name="desc" maxlength="500" style="width:100%;padding: 5px;">@todoList.ActDesc</textarea></div>
                            <div>
                                <input type="button" value="บันทึก" class="btn btn-success" style="margin: 5px 0 0 0;" onclick="SaveAct(this)" />
                            </div>
                        </div>
                        <div class="col-6">
                            <image src="/@todoList.ImageUrl.Replace('\\','/')" style="width:100%"></image>
                        </div>
                    </div>
                    <hr/>
                    ic++;
                }
                <hr/>
                <input type="file" id="browseE" name="fileupload" style="display: none" onChange="handlechangeE();" accept="image/*" capture="camera" />
                <input type="button" value="ข้อสังเกตหรือปัญหาที่พบ" id="fakeBrowseE" class="btn btn-success" onclick="browseclickE();" style="margin: 20px 0;"/>
                
                @foreach (var todoList in Model.todayAlarmDtosList)
                {
                        <div class="row itemList alarm">
                            <div class="col-6" style="padding:0 10px;">
                                <input type="hidden" name="imgUrl" value="@todoList.ImageUrl" />
                                <div style="margin-bottom: 5px;"><h4>หัวข้อ</h4></div>
                                <div><div name="jqxComboBox" id="jqxComboBox-@ic"></div></div>
                                <div><h4>รายละเอียด</h4></div>
                                <div><textarea name="desc" maxlength="500" style="width:100%;padding: 5px;">@todoList.ActDesc</textarea></div>
                                <div>
                                    <input type="button" value="บันทึก" class="btn btn-success" style="margin: 5px 0 0 0;" onclick="SaveAct(this)" />
                                </div>
                                </div>
                                <div class="col-6">
                                    <image src="/@todoList.ImageUrl.Replace('\\','/')" style="width:100%"></image>
                                </div>
                        </div>
                    <hr/>
                    ic++;
                }
            </div>
            <!-- Item Section End -->

        </div>

    <!-- Main End -->
</div>
<!-- Skeleton loader End -->*@

@section Scripts {
    <script>
        $(document).ready(function () {
            var titleList = [];
            @foreach(var act in Model.titleActivity)
            {
                <text>titleList.push('@act');</text>
            }
            
            // Create a jqxComboBox
            @for(int i = 0; i < (Model.todayAlarmDtosList.Count + Model.todayListDtosList.Count); i++)
            {
            <text>$("#jqxComboBox-@i").jqxComboBox({source: titleList, multiSelect: true, height: 28,showCloseButtons: true});</text>
            }
            //$("[name=jqxComboBox]").each(function(){
            //    $(this).jqxComboBox({source: titleList, multiSelect: true, height: 28,showCloseButtons: true});
            //})

            @foreach(var todoList in Model.todayListDtosList)
            {
                String[] list = todoList.ActTopic.Split(',',StringSplitOptions.RemoveEmptyEntries);
                foreach(var l in list)
                {
                    var url = todoList.ImageUrl.Replace("OneDurianUpload\\", "");
                    <text>$("[value*='@url']").parents(".itemList:first").find("div[name=jqxComboBox]").jqxComboBox('selectItem', '@l');</text>
                }
            }
            @foreach(var todoList in Model.todayAlarmDtosList)
            {
                String[] list = todoList.ActTopic.Split(',',StringSplitOptions.RemoveEmptyEntries);
                foreach(var l in list)
                {
                    var url = todoList.ImageUrl.Replace("OneDurianUpload\\", "");
                    <text>$("[value*='@url']").parents(".itemList:first").find("div[name=jqxComboBox]").jqxComboBox('selectItem', '@l');</text>
                }
            }
        });

        function browseclick(){
            if($(".simple").length == 4){
                alert("อัพโหลดภาพสวนวันนี้ได้สูงสุด 4 ภาพ");
                return;
            }
            var fileinput = document.getElementById("browse");
            fileinput.click(); 
        }
        function handlechange()
        {
            var files = $("#browse")[0].files;
            var fd = new FormData();
            if(files.length > 0 ){
                fd.append('file',files[0]);
                fd.append('datatype','normalAct');
                $.ajax({
                    url:'@Url.Action("UploadFile", "Seller")',
                    type:'post',
                    data:fd,
                    contentType: false,
                    processData: false,
                    success:function(response){
				        if(response.status == 200)
                        {
                            alert("อัพโหลดรูปสำเร็จ");
                            location.reload();
                        }
                    }
                });
            }
        }
        function browseclickE(){
            if($(".alarm").length == 6){
                alert("ข้อสังเกตปรือปัญหาที่พบ 6 ภาพ");
                return;
            }
            var fileinput = document.getElementById("browseE");
            fileinput.click(); 
        }
        function handlechangeE()
        {
            var files = $("#browseE")[0].files;
            var fd = new FormData();
            if(files.length > 0 ){
                fd.append('file',files[0]);
                fd.append('datatype','alarmAct');
                $.ajax({
                    url:'@Url.Action("UploadFile", "Seller")',
                    type:'post',
                    data:fd,
                    contentType: false,
                    processData: false,
                    success:function(response){
				        if(response.status == 200)
                        {
                            alert("อัพโหลดรูปสำเร็จ");
                            location.reload();
                        }
                    }
                });
            }
        }
        function SaveAct(el){
            var dom = $(el);
            var area = dom.parents(".itemList:first");
            var title = area.find("input[name=jqxComboBox]").val();
            var desc= area.find("[name=desc]").val();
            var imgUrl = area.find("[name=imgUrl]").val();
            var fd = new FormData();
            fd.append('title',title);
            fd.append('desc',desc);
            fd.append('imgUrl',imgUrl);
            $.ajax({
                url:'@Url.Action("UpdateDesc", "Seller")',
                type:'post',
                data:fd,
                contentType: false,
                processData: false,
                success:function(response){
			      //if(response.status == 200)
                    {
                        alert("อัพโหลดรูปสำเร็จ");
                        location.reload();
                    }
                }
            });
        }
    </script>
    <style>
        .jqx-listbox-container{
            left:15px !important;
        }
    </style>
    @*<script type="text/javascript" src="~/scripts/main.js"></script>*@
    <script type="text/javascript" src="~/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcombobox.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="~/jqwidgets/jqxcheckbox.js"></script>
}