@model LoginModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_SellerLogin.cshtml";
}

<!-- Main Start -->
<main class="main-wrap login-page mb-xxl">
    <!--img class="logo" src="~/assets/images/logo/logo.png" alt="logo" /-->
    <!--img class="logo logo-w" src="~/assets/images/logo/logo-w.png" alt="logo" /-->
    <h1 class="font-md title-color fw-600">สมัครใช้งาน</h1>
    <p class="font-sm content-color">ผู้ช่วยออนไลน์ส่วนตัวของเกษตรกรไทย</p>

    <!-- Login Section Start -->
    <section class="login-section p-0 custom-form">
        <!-- Login Form Start -->
        @using (Html.BeginForm("Register","Account"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false,"",new { @class="text-danger" })
            <!-- Get Line UserID-->
            <div class="input-box row">
                <div class="col-3">
                    <h4>
                        @Html.LabelFor(model=>model.usr_firstname,new { @class = "control-label" })
                    </h4>                    
                </div>
                <div class="col-9">
                    @Html.EditorFor(model=>model.usr_firstname,new { @class = "form-control" })
                </div>
            </div>
            <div class="input-box row">
                <div class="col-3">
                    <h4>
                        @Html.LabelFor(model=>model.usr_lastname,new { @class = "control-label" })
                    </h4>                    
                </div>
                <div class="col-9">
                    @Html.EditorFor(model=>model.usr_lastname,new { @class = "form-control" })
                </div>
            </div>
            <div class="input-box row">
                <div class="col-3">
                    <h4>
                        @Html.LabelFor(model=>model.usr_phone,new { @class = "control-label" })
                    </h4>                    
                </div>
                <div class="col-9">
                    @Html.EditorFor(model=>model.usr_phone,new { @class = "form-contro" })
                </div>
            </div>
            <div class="input-box row">
                <div class="col-3">
                    <h4>
                        @Html.LabelFor(model=>model.slr_farm_name,new { @class = "control-label" })
                    </h4>
                </div>
                <div class="col-9">
                    @Html.EditorFor(model=>model.slr_farm_name,new { @class = "form-control" })
                </div>
            </div>
            <div class="input-box row">
                <div class="col-3">
                    <h4>
                        @Html.LabelFor(model=>model.slr_farm_size,new { @class = "control-label" })
                    </h4>                    
                </div>
                <div class="col-9">
                    @Html.EditorFor(model=>model.slr_farm_size,new { @class = "form-control" })
                </div>
            </div>
            <div class="input-box row">
                <div class="col-3">
                    <h4>
                        @Html.LabelFor(model=>model.slr_farm_location,new { @class = "control-label" })
                    </h4>                    
                </div>
                <div class="col-9">
                    @Html.EditorFor(model=>model.slr_farm_location,new { id = "slr_farm_location" ,@class = "form-control" })
                    <button type="button" class="btn-solid" onclick="GetLocation()">Get Location</button>
                </div>
            </div>
            <div class="form-group">
                @Html.TextBoxFor( model=>model.usr_latlong,new { id = "usr_latlong" ,@class = "form-control",@Type = "hidden"})
            </div>
            <div class="form-group">
                @Html.TextBoxFor( model=>model.slr_province,new { id = "slr_province" ,@class = "form-control",@Type = "hidden"})
            </div>

            <div class="form-group">
                @Html.TextBoxFor( model=>model.slr_district,new { id = "slr_district" ,@class = "form-control",@Type = "hidden"})
            </div>

            <div class="form-group">
                @Html.TextBoxFor( model=>model.slr_country,new { id = "slr_country" ,@class = "form-control",@Type = "hidden"})
            </div>

            <div class="form-group">
                @Html.TextBoxFor( model=>model.slr_district_th,new { id = "slr_district_th" ,@class = "form-control",@Type = "hidden"})
            </div>

            <div class="form-group">
                @Html.TextBoxFor( model=>model.slr_province_th,new { id = "slr_province_th" ,@class = "form-control",@Type = "hidden"})
            </div>

            <div class="form-group">
                @Html.TextBoxFor( model=>model.slr_country_th,new { id = "slr_country_th" ,@class = "form-control",@Type = "hidden"})
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn-solid" value="Signup">ลงทะเบียน</button>
            </div>
            
        }
        <!-- Login Form End -->
    </section>
    <!-- Login Section End -->

    <script>

        function GetLocation() {
            navigator.geolocation.getCurrentPosition(function (location) {
                var latitude = (location.coords.latitude);
                var longitude = (location.coords.longitude)
                console.log("location " + latitude + "," + longitude);
                $.ajax({
                    url: 'https://api.bigdatacloud.net/data/reverse-geocode-client?latitude=' + latitude + '&longitude=' + longitude + '&localityLanguage=en',
                    success: function (data) {
                        document.getElementById("usr_latlong").value = data.latitude + "," + data.longitude;
                        document.getElementById("slr_province").value = data.city;
                        document.getElementById("slr_district").value = data.locality;
                        document.getElementById("slr_country").value = data.countryName;
                        //document.getElementById("slr_farm_location").value = data.locality + "," + data.city + "," + data.countryName;
                        //alert(data.latitude + "," + data.longitude);
                        //alert(data.locality + "," + data.city + "," + data.countryName);
                        /*or you could iterate the components for only the city and state*/
                    }
                });
                $.ajax({
                    url: 'https://api.bigdatacloud.net/data/reverse-geocode-client?latitude=' + latitude + '&longitude=' + longitude + '&localityLanguage=th',
                    success: function (data) {                        
                        document.getElementById("slr_province_th").value = data.city;
                        document.getElementById("slr_district_th").value = data.locality;
                        document.getElementById("slr_country_th").value = data.countryName;
                        document.getElementById("slr_farm_location").value = data.locality + "," + data.city + "," + data.countryName;
                        /*or you could iterate the components for only the city and state*/
                    }
                });
                //alert(location.coords.latitude + "," + location.coords.longitude);
            });
        }
    </script>

</main>
<!-- Main End -->

