@model LoginModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_SellerLogin.cshtml";
}

<!-- Main Start -->
<main class="main-wrap login-page mb-xxl">
    <!--img class="logo" src="~/assets/images/logo/logo.png" alt="logo" /-->
    <!--img class="logo logo-w" src="~/assets/images/logo/logo-w.png" alt="logo" /-->
    <h1 class="font-md title-color fw-600">สมัครใช้งาน</h1>
    <p class="font-sm content-color">ผู้ช่วยออนไลน์ส่วนตัวของเกษตรกรไทย</p>

    <!-- Login Section Start -->
    <section class="login-section p-0">
        <!-- Login Form Start -->
        @using(Html.BeginForm(new { @class="custom-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false,"",new { @class="text-danger" })
            <!-- Get Line UserID-->
            <div class="form-group">                
                @Html.TextBoxFor( model=>model.usr_line_id,new { @id = "usr_line_id" ,@class = "form-control",@Type = "hidden"})
            </div>
            <div class="input-box row">
                <div class="col-3">
                    <h4>
                        @Html.LabelFor(model=>model.usr_firstname,new { @class = "control-label" })
                    </h4>                    
                </div>
                <div class="col-9">
                    @Html.EditorFor(model=>model.usr_firstname,new { @class = "form-control" })
                </div>
            </div>
            <div class="input-box row">
                <div class="col-3">
                    <h4>
                        @Html.LabelFor(model=>model.usr_lastname,new { @class = "control-label" })
                    </h4>                    
                </div>
                <div class="col-9">
                    @Html.EditorFor(model=>model.usr_lastname,new { @class = "form-control" })
                </div>
            </div>
            <div class="input-box row">
                <div class="col-3">
                    <h4>
                        @Html.LabelFor(model=>model.usr_phone,new { @class = "control-label" })
                    </h4>                    
                </div>
                <div class="col-9">
                    @Html.EditorFor(model=>model.usr_phone,new { @class = "form-contro" })
                </div>
            </div>
            <div class="input-box row">
                <div class="col-3">
                    <h4>
                        @Html.LabelFor(model=>model.slr_farm_size,new { @class = "control-label" })
                    </h4>                    
                </div>
                <div class="col-9">
                    @Html.EditorFor(model=>model.slr_farm_size,new { @class = "form-control" })
                </div>
            </div>
            <div class="input-box row">
                <div class="col-3">
                    <h4>
                        @Html.LabelFor(model=>model.slr_farm_location,new { @class = "control-label" })
                    </h4>                    
                </div>
                <div class="col-9">
                    @Html.EditorFor(model=>model.slr_farm_location,new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn-solid" value="Signup">ลงทะเบียน</button>
            </div>
            
        }
        <!-- Login Form End -->
    </section>
    <!-- Login Section End -->
    <script>              
        window.onload = function () {
            const defaultLiffId = '1657681416-QJr0wxdE';
            $(document).ready(function () {
                liff.init({ liffId: defaultLiffId, withLoginOnExternalBrowser: true }).then(() => {
                    liff.getProfile().then(function (profile) {
                        console.log(profile);
                        $("#usr_line_id").val(profile.userId)
                    });
            });
            }).catch((err) => {
                console.log(err.code, err.message);
            })
        }
       
    </script>
</main>
<!-- Main End -->

